language: python
python:
 - "2.7"
 - "3.4"
 - "3.5"
 - "3.6"
install:
 - "sudo apt-get install libevent-dev"
 - "pip install -U setuptools"
 - "pip install -e ."
 - "pip install coverage coveralls"
 - "psql -c 'create database sqlagg_test' -U postgres"
script:
 - "coverage run setup.py nosetests"
after_success:
 - coveralls
services:
 - postgresql
